@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    box-sizing: border-box  ;
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}
body{
    min-height: 100vh;
background-color: #f7f7f7;
}
header{
    background-color: #2d333f;
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: white;
    border-radius: 20px;
}
header ul li a:hover{
    background: white;
    color: darksalmon;
}
.navbar{
    height: 150px;
    width: 100%;
}
.main{
background-color: #f1f2f4;
}

#start{
    color: black;
    background: white;
}
#choose{
    background: white;
}
#menu{
    background: white;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
}
#book{
    background: white;
}